/* .parallax-1{
    background-image: url("https://livedemo00.template-help.com/opencart_55257/image/cache/catalog/parallax-1-2050x1231.jpg");
    background-attachment: fixed; left: 50%; background-position: 50% 99.1509%;
} */

section.review{
    border-top: 2px solid #494949;
    padding-top: 20px;
}

div.carousel.slide{
    padding-top: 60px;

}

div.carousel-inner{
    min-height: 600px;
}

h2.review{
    text-align: center;
    color: rgb(33, 150, 243);
    padding-top: 80px;
}

 img.cardview {
     max-width: 150px;
 }

 h6.cardview {
     color: #2196f3;
     text-align: center;
 }

 div.cardview {
     color: gold;
 }
