div.footer_icons{
    
    padding-top: 30px;
}

div.footer{
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
}

img.contact_details_airbnb{
    width: 28px;
}

div.text-center.py-3 {
    background-color: rgba(0, 0,0,0.7);
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    
}